<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
      <h1>後期あゆみ・指導要録・台帳</h1>

      <table border="1" style="border-collapse: collapse">
        <tr>
          <th> 3月10日</th>
          <td>卒業台帳・修了台帳締め切り</td>
        </tr>
        <tr>
          <th> 3月17日</th>
          <td>あゆみ所見提出（21日までに教務点検）</td>
        </tr>
        <tr>
          <th> 3月24日</th>
          <td>後期あゆみ配布</td>
        </tr>
        <tr>
          <th> 3月27日</th>
          <td>指導要録締め切り</td>
        </tr>
        <tr>
          <th> 3月29日</th>
          <td>指導要録点検完了（教務）</td>
        </tr>
      </table>

      <ul>
        <li class="link-container">
          <a
            href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EoM1zU5pDtFCuQjEyzBLhvIBPygdsZ0yOvFdyDsV9B8uUw?e=9KUfk9"
            >後期あゆみ(Excel)</a
          >
        </li>
        <li>
          <a
            href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EpMB0Or94jZBhjbg9dPICVUBzGMXWXm_ALVC_x6_KtviMw?e=vI1UiW"
            >卒業・終了台帳(Excel)</a
          >
        </li>
        <li>
          <a
            href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EqvhCZXgnFRIuDQhzliQG8sBM7kyA1Rwz-_1uOOCAQxOdA?e=b2nnX8"
            >通常学級要録(Excel)</a
          >
        </li>
      </ul>
    </section>
  </body>
</html>

<style>
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  th {
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  td {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .link-container {
    margin-top: 1rem;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
</style>
