<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
      <h1>iPadの点検・管理</h1>
      <ul>
        <li>名前</li>
        <li>Googleアカウントのパスワード</li>
        <li>ギガナンバー</li>
        <li class="ness">シリアル番号</li>
        <li>タッチペン</li>
      </ul>
      <p class="ness">※シリアル番号は不具合報告に必要なので、必ず確認して下さい。</p>
      <p>※タッチペンは所持しているか否かを確認して下さい。</p>
      <br>
      <a
        href="https://shikaoi.sharepoint.com/:x:/s/shikasho/ETushRvXbVpAlW68MkR7znABB7v7j143s5WX_KzrLYRqrQ?e=qvW9zD"
        >2022_児童iPad管理(Excel)</a
      >
    </section>
  </body>
</html>

<style>
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
  li {
  font-size: 1.2rem;
  }
  .ness {
    color: red;
  }
  p {
    margin: 0;
  }
</style>
