<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
      <h1>時数集計と出席簿</h1>
      <p>【シェアポイント】</p>
      <br />
      <a
        href="https://shikaoi.sharepoint.com/:f:/s/shikasho/Eq0dEoK4aZxJiuaqbjKJOlsBl3BiC1gRokuKTt8LGBVMKw?e=rhb3CV"
        >時数集計(Excel)</a
      >
      <br />
      <br />
      <a
        href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EkOSAlzZg4NKmnRcB52qjnoBKw6xgvhRKmnldiah88lzpw?e=YCmFRD"
        >出席簿(Excel)</a
      >
      <br />
      <br />
      <a
        href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EtPTi-AUzuJPjAUNMwPmAygBsl5RmmWUyjyuB2p8lrfF1Q?e=c7ejbs"
        >支援出席簿(Excel)</a
      >
      <br />
      <br />
      <a
        href="https://shikaoi.sharepoint.com/:f:/s/shikasho/EntPDvMZHrVFsBPK0CYUpIEBK2pWpiAd4p77pi8C-6ImHw?e=ucj1ws"
        >週案(Excel)</a
      >
    </section>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  h1 {
    font-size: 2rem;
  }
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
  li {
    font-size: 1.2rem;
  }
  .ness {
    color: red;
  }
  p {
    margin: 0;
  }
</style>
